# Віртуальне середовище
myenv/
venv/

# Конфігураційні файли
.env

# Компільовані файли Python
*.pyc
__pycache__/

# Логи
*.log

# IDE специфічні файли
.vscode/
.idea/

# Системні файли
.DS_Store

#Бази данних
*.db